<% provide(:title, 'Welcome!') %>
<% provide(:page_id, "welcome-page") %>

<header>
  <div class="logo"></div>

  <div class="buttons-container">
    <%= link_to "Sign Up",
      {controller: 'devise/registrations', action: 'new'},
      :class => 'button green-button' %>

    <%= link_to "Login",
      {controller: 'devise/sessions', action: 'new'},
      :class => 'button blue-button' %>
  </div>

</header>

<div class="title-box">
  <h1>
    Welcome to <span class="strong">pretty reports</span> awesome tool for creating
    reports.
  </h1>
  <br/>
  <h2>
    Entering data has never been easier
  </h2>
</div>

<section class="banner">
</section>

<section class="footer">
  <div class="left-links">
    <a>About Us</a>
    <a>Privacy Policy</a>
    <a>Contact</a>
  </div>

  <div class="copy-right">Copyright 2012 - ™ Pretty Reports</div>

  <div class="right-links">
    <a>Help Me</a>
    <a>Feedback</a>
  </div>
</section>
