#reports-edit-page, #reports-new-page {
  margin-top: 290px;
  background-image: image-url('bg-pattern.png');
  padding-bottom: 100px;

  .save-button, .download-button, .import-button  {
    @include transition (all .5s);
    position: fixed;
    top: 36px;
    z-index: 102;
    color: white;
    cursor: pointer;

    i {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .save-button {
    color: white;
    right: 400px;

    i {
      margin-top: -8px;
      background: image-url('download-save-icons.png') no-repeat;
    }
  }
  .download-button {
    right: 275px;
    width: 100px;

    i {
      background: image-url('download-save-icons.png') -20px no-repeat;
    }
  }

  .import-button {
    right: 450px;
    width: 100px;

    i {
      background: none;
    }
  }

  section#page-footer {
    display: none;
  }
}

#reports-edit-page.scrolled-style, #reports-new-page.scrolled-style {
  .download-button {
    top: 10px;
  }
  .save-button {
    top: 10px;
  }
}