#reports-edit-page, #reports-new-page {
  margin-top: 290px;
  background-image: image-url('bg-pattern.png');
  padding-bottom: 100px;

  .download-button {
    @include transition (all .5s);
    position: fixed;
    top: 37px;
    right: 340px;
    z-index: 102;
    cursor: pointer;
  }
  .save-button {
    @include transition (all .5s);
    position: fixed;
    top: 37px;
    right: 365px;
    z-index: 102;
    cursor: pointer;
  }
}

#reports-edit-page.scrolled-style, #reports-new-page.scrolled-style {
  .download-button {
    top: 10px;
  }
  .save-button {
    top: 10px;
  }
}

