.sprint-release-report {
  margin: auto;

  position: relative;
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  width: 940px;
  color: gray;
  @include border-radius(3px);
  @include box-shadow(0px 0px 6px 1px rgba(0, 0, 0, 0.1));

  // Paper curl effect
  &:before, &:after
  {
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 17px;
    background: transparent;
    @include transform(skew(-5deg) rotate(-5deg));
    @include box-shadow(0px 0px 12px 6px rgba(0, 0, 0, 0.2));
    z-index: -1;
  }
  &:after
  {
    left: auto;
    right: 12px;
    @include transform(skew(5deg) rotate(5deg));
  }


  h1 {
    color: black;
    font-weight: normal;
  }

  h3 {
    color: #68A4D2;
    font-weight: normal;
  }

  ul {
    padding: 0px;
    // min-height required for the sortable plugin to allow dropping
    // action on an empty list
    min-height: 2px;
    list-style: none;
    li {
      cursor: move;
    }
  }

  ul li:last-child {
    .item {
      border-bottom: none;
    }
  }

  .item {
    color: #504737;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;

    &:after {
      display: block;
      content: '';
      clear: both;
    }

    .icon {
      width: 74px;
      height: 28px;
      float: left;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;

      &.feature {
        background: image-url('item-type-icon-sprite.png') 0px 0px no-repeat;
      }
      &.task {
        background: image-url('item-type-icon-sprite.png') 0px -28px no-repeat;
      }
      &.bug {
        background: image-url('item-type-icon-sprite.png') 0px -56px no-repeat;
      }
    }

    .text-container {
      float: left;
      width: 810px;
      margin-top: 12px;

      .title {
        font-weight: bold;
        margin-right: 10px;
      }
      .subtitle {
        color: #817E79;
      }

      .remove {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 0px;
        width: 20px;
        height: 34px;

        i {
          top: 9px;
          position: relative;
          left: 2px;
        }
      }
    }
  }

}