
<div class="js-sprint-release-report sprint-release-report">
  <h1 class="js-title js-content-editable">
    <%= @report.title || "Sprint Release (click to edit)"%>
  </h1>

  <h3>Delivered Features</h3>
  <ul class="js-delivered js-sortable-report-items delivered">
  </ul>

  <h3>Unfinished Features</h3>
  <ul class="js-not-finished js-sortable-report-items not-finished">
  </ul>

  <h3>Known Issues</h3>
  <ul class="js-known-issues js-sortable-report-items known-issues">
  </ul>

</div>

<%= render 'reports/common/item_template' %>