
<div class="js-sprint-release-report sprint-release-report">
  <h1 class="hero-unit">Sprint Release</h1>

  <h3>Delivered Features</h3>
  <ul class="js-delivered delivered">
  </ul>

  <h3>Unfinished Features</h3>
  <ul class="js-not-finished not-finished">
  </ul>

  <h3>Known Issues</h3>
  <ul class="js-known-issues known-issues">
  </ul>

</div>

<%= render 'reports/common/item_template' %>