<script id="js-item-template" type="text/template">
  <div class="js-item item">
    <strong>
      {{= title }}
    </strong>
    {{= subtitle }}

    <div class="js-remove remove "><i class="icon-trash" /></div>
  </div>

</script>
