<script id="js-item-template" type="text/template">
  <div class="js-item item">
    <div class="icon"></div>

    <span class="title">
      {{= title }}
    </span>
    <span class="subtitle">
      {{= subtitle }}
    </span>

    <div class="js-remove remove "><i class="icon-remove-sign" /></div>
  </div>

</script>