#page-header {

  .top-bar {
    @include transition (all .5s);
    z-index: 101;
    width: 100%;
    position: fixed;
    top: 0;
    height: 76px;
    background: image-url('apple-pattern.png');

    .logo {
      @include transition (all .5s);
      background: image-url("main-sprites.png") -89px 0px no-repeat;
      width: 91px;
      height: 60px;
      margin-left: 100px;
      margin-top: 8px;
      cursor: pointer;
    }

    .user-menu {
      @include transition (all .5s);
      position: absolute;
      right: 145px;
      top: 28px;
      color: white;
      height: 26px;
      text-align: right;
      border-left: 1px solid #2F3840;
      padding-left: 8px;
      padding-top: 7px;

      i {
        margin-top: 0px;
        margin-left: 2px;
      }
      a {
        color: white;
      }

      ul {
        a {
          color: black;
          &:hover {
            background-color: #F8F8F8;
          }
        }
      }
    }

    .logout-container {
      @include transition (all .5s);
      padding: 8px;
      position: absolute;
      right: 100px;
      border-left: 1px solid #646464;
      top: 24px;
      .logout {
        display: block;
        background: image-url("main-sprites.png") -190px 3px no-repeat;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

}

// When showing it smaller
.scrolled-style {
  #page-header .top-bar{
    height: 34px;
    @include box-shadow(0px 0px 11px 1px rgba(0, 0, 0, 0.20));

    .logo {
      opacity: .0;
    }
    .user-menu {
      top: 10px;
      padding-top: 0px;
      height: 20px;
    }
    .logout-container {
      top: 0px;
      height: 16px;
    }
  }
}