<% provide(:title, 'Home') %>
<% provide(:page_id, "home-page") %>

<div class="container">

  <h1>Welcome back, Rafa!</h1>
  <h3>Lorem ipsum is simply dummy text of the
    printing and type setting industry.</h3>

  <div class="reports-link-container">

    <div class="sprint-definition-link"
      onclick="window.location='<%= new_report_path %>'"></div>

    <div class="sprint-release-link"
      onclick="window.location='<%= new_report_path %>'"></div>

    <div class="daily-email-link"
      onclick="window.location='<%= new_report_path %>'"></div>

  </div>

</div>

