<% provide(:title, 'Home') %>
<% provide(:page_id, "home-page") %>

<div class="container">

  <h1>Welcome back, <%= @user.email %>!</h1>
  <h3>Select a report to start communicating!</h3>

  <div class="reports-link-container">

    <div class="sprint-definition-link"
      onclick="window.location='<%= new_report_path %>'"></div>

    <div class="sprint-release-link"
      onclick="window.location='<%= new_report_path %>'"></div>

    <div class="daily-email-link"
      onclick="window.location='<%= new_report_path %>'"></div>

  </div>

</div>

