<% provide(:title, 'Home') %>
<% provide(:page_id, "home-page") %>

<div class="container">

  <h1>Welcome back, <%= @user.first_name %>!</h1>
  <h3>Select a report to start communicating!</h3>

  <div class="reports-link-container">

    <div class="box coming-soon">
      <span class="title">Sprint Definition</span>
      <div class="sprint-definition-icon icon"></div>
      <span class="pages">1 Page</span>
      <span class="plus-icon"></span>
    </div>

    <div class="box" onclick="window.location='<%= new_report_path %>'">
      <span class="title">Sprint Release</span>
      <div class="sprint-release-icon icon"></div>
      <span class="pages">1 Page</span>
      <span class="plus-icon"></span>
    </div>

    <div class="box coming-soon">
      <span class="title">Daily Email</span>
      <div class="daily-email-icon icon"></div>
      <span class="pages">1 Page</span>
      <span class="plus-icon"></span>
    </div>

  </div>

</div>