<form action="/pdf">
  <label>Input URL to transform to PDF here</label>
  <textarea rows="2" cols="80" id="url" name="url">http://www.google.com</textarea><br/>
  <br/>
  <input type="submit" value="Transform to PDF">
</form>