<% provide(:title, 'Import your stories') %>
<% provide(:page_id, "import") %>

<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      app.prettyreports.initialize({});

    });
  </script>
<% end %>

<div id="import_div" class="import">
  <h1>Importing your stories from Pivotal Tracker</h1>

    <label>Pivotal API Token</label>
    <input type="text" id="api_token" name="api_token" size="37" />
    <span id="api_token_span"></span>

    <label>Projects</label>
    <select id="projects" disabled="disabled"></select>
    <span id="projects_span"></span>

    <label>Iterations</label>
    <select id="iterations" disabled="disabled"></select>
    <span id="iterations_span"></span>
    
    <div class="wizard-buttons-container">
      <input id="import_button" type="submit" value="Import" disabled="disabled" />
      <input id="cancel_button" type="button" value="Cancel" />
    </div>
</div>