
#welcome-page {
  background-image: image-url('bg-pattern.png');

  header {
    height: 80px;
    position: relative;

    .logo {
      position: relative;
      width: 115px;
      height: 60px;
      margin: auto;
      top: 10px;
      background-image: image-url('logo.png');
      background-repeat: no-repeat;
    }

    .buttons-container {
      width: 210px;
      position: relative;
      margin: auto;
      left: 274px;
      top: -32px;

      .button {
        width: 63px;
      }
    }

  }

  .title-box {
    width: 580px;
    margin: auto;
    margin-top: 40px;
    color: #616161;

    .strong {
      font-family: liberation_sansbold;
    }

    h1 {
      font-size: 29px;
    }
    h2 {
      font-size: 15px;
    }
    h1, h2 {
      line-height: normal;
      margin: 0px;
      display: inline;
      text-align: center;
    }
  }

  section.banner {
    height: 575px;
    margin-top: 15px;
    margin-bottom: 100px;
    background-image: image-url('home-banner.png');
    background-repeat: no-repeat;
    background-position: center;
  }

}