.button {
  // Get bootstrap button sugar and tune it to our own style.
  @extend .btn;

  background: none;
  border: none;
  outline: none;
  @include border-radius(3px);
  padding: 10px 10px 10px 10px;

  &:hover {
    text-decoration: none;
  }

  &.tall-button {
    padding: 15px 10px 15px 10px;
  }

  &.green-button {
    color: white;
    background-color: #9DC854;

    &:hover {
      background-color: #A5D15A;
    }
  }
  &.blue-button {
    color: white;
    background-color: #63A0C8;
    &:hover {
      background-color: #7BB9E2;
    }
  }
  &.gray-button {
    color: black;
    background-color: #DFDFDF;
    &:hover {
      background-color: #E6E6E6;
    }
  }
  &.black-button {
    border: 1px solid #D7D7D7;
    color: white;
    background-color: #1E262E;
    &:hover {
      background-color: #3F4B57;
    }
  }
  &.white-button {
    color: #262728;
    border: 1px solid #D7D7D7;
    background-color: white;
    &:hover {
      background-color: #F8F8F8;
    }
  }
}

.button-icon-plus-right {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: image-url("sprites-1.png");
  background-position: -225px -41px;
  background-repeat: no-repeat;
  margin-right: 5px;
  margin-left: 20px;
  margin-top: -6px;
}
