.styled-select {
  padding: 0px;
  margin: 0px;
  border: 1px solid #D5D5D5;
  color: #212B33;
  font-size: 15px;
  @include box-shadow(0 0 0 0 #000000);
  @include border-radius(2px);
  padding: 8px;
  padding-left: 10px;
  background: image-url("select-arrow.png") 96% 50% no-repeat;
  cursor: pointer;
}

#ajax-loading-indicator {
  @include transition (all .5s);
  opacity: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  left: 50%;
  margin-left: -80px;
  top: 50px;
  z-index: 500;

  &.show {
    opacity: 1;
  }
}

@font-face {
    font-family: 'liberation_sansbold';
    src: url('liberationsans-bold.eot');
    src: url('liberationsans-bold.eot?#iefix') format('embedded-opentype'),
         url('liberationsans-bold.woff') format('woff'),
         url('liberationsans-bold.ttf') format('truetype'),
         url('liberationsans-bold.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'liberation_sansitalic';
    src: url('liberationsans-italic.eot');
    src: url('liberationsans-italic.eot?#iefix') format('embedded-opentype'),
         url('liberationsans-italic.woff') format('woff'),
         url('liberationsans-italic.ttf') format('truetype'),
         url('liberationsans-italic.svg#liberation_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'liberation_sansregular';
    src: url('liberationsans-regular.eot');
    src: url('liberationsans-regular.eot?#iefix') format('embedded-opentype'),
         url('liberationsans-regular.woff') format('woff'),
         url('liberationsans-regular.ttf') format('truetype'),
         url('liberationsans-regular.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'liberation_sansregular';
}