section#page-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 53px;
    color: #797D80;
    background-color: white;
    @include top-oval-shadow();
    z-index: 100;

    a {
      cursor: pointer;
      color: #797D80;
    }

    div {
      float: left;
      margin-top: 18px;
    }

    .left-links {
      a {
        margin-right: 24px;

        &:first-child {
          margin-left: 15px;
        }
      }
    }

    .copy-right {
      margin-left: 10px;
    }

    .right-links {
      float: right;

      a:last-child {
        margin-right: 15px;
        padding: 5px;
        border-left: 1px solid #D9D8DD;
      }
    }

  }