#import {
  padding-top: 90px;

  h1 {
    text-align: center;
  }

  h1 {
    height:50px;
  }

  h2 {
  }

  #api_token {
    width:auto;
  }

  #stories {
    width:500px;
  }

  .wizard-buttons-container {
    margin-top: 10px;    
  }
}