
<div class="input-tool-container-wrapper">
  <div class="js-input-tool input-tool-container">


    <form>
      <label>Title:
        <input type="text" name="title" class="title"></input>
      </label>
      <label>Subtitle:
        <input type="text" name="subtitle" class="subtitle"></input>
      </label>
    </form>

    <a class="js-add-button add-button btn btn-success" href="#">
      <i class="icon-plus icon-white"></i>
      Add
    </a>
    <a class="js-trash-button trash-button btn btn-danger" href="#">
      <i class="icon-trash icon-white"></i>
    </a>

  </div>
</div>