<% content_for :head do %>
  <script type="text/javascript">
    // Initialize the js for this particular page when the DOM is ready.
    $(document).ready(function() {
      app.reports.initialize({
        report: <%= @report.to_json.html_safe %>
      });
    });
  </script>
<% end %>

<% provide(:page_id, "reports-edit-page") %>
<% provide(:page_class, "scroll-aware") %>

<%= render 'reports/common/input_tool' %>

<%= render 'reports/sprint_release/sprint_release' %>

<div class="js-save-button save-button">
  <i></i><span>Save</span>
</div>

<div class="js-download-button download-button">
  <i></i><span>Download</span>
</div>