<% content_for :head do %>
  <script type="text/javascript">
    // Initialize the js for this particular page when the DOM is ready.
    $(document).ready(function() {
      app.reports.initialize({
        report: <%= @report.to_json.html_safe %>
      });
    });
  </script>
<% end %>

<% content_for :page_id do %>
  "reports-new"
<% end %>

<%= render 'reports/common/input_tool' %>

<%= render 'reports/sprint_release/sprint_release' %>

<div class="js-save-button btn btn-success"
  style="position:fixed;top:10px;left:10px">
  Save
</div>

<div class="js-download-button download-button btn btn-success"
  style="position:fixed;top:10px;left:70px">
  Download
</div>
