<% content_for :head do %>
  <script type="text/javascript">
    // Initialize the js for this particular page when the DOM is ready.
    $(document).ready(function() {
      app.reports.initialize({});
    });
  </script>
<% end %>

<% provide(:page_id, "reports-new-page") %>

<%= render 'reports/common/input_tool' %>

<%= render 'reports/sprint_release/sprint_release' %>

<div id="save-button" class="js-save-button"
  style="position:fixed;top:37px;right:300px;z-index:102;cursor:pointer">

  <i class="icon-ok-sign icon-white"></i>
</div>

<div class="js-download-button"
  style="position:fixed;top:37px;right:280px;z-index:102;cursor:pointer">

  <i class="icon-circle-arrow-down icon-white"></i>
</div>