<% provide(:title, 'Import Pivotal Wizard') %>
<% provide(:page_id, "import-pivotal-wizard") %>

<div class="container">

  <h1>Importing your stories from Pivotal Tracker</h1>
  <h2>Step 4 / 4: I have all that I need ! Click Finish to import the selected stories to your report</h2>

  <%= form_tag(wizard_path, :method => "put") do %>
    <input type="submit" value="Finish" />
    <%= link_to '(Back)', previous_wizard_path %>
  <% end %>
</div>