<% provide(:title, 'Import Pivotal Wizard') %>
<% provide(:page_id, "import-pivotal-wizard") %>

<% content_for :head do %>
  <script type="text/javascript">
    // Initialize the js for this particular page when the DOM is ready.
    $(document).ready(function() {
      $("#project_id").get(0).focus();
    });
  </script>
<% end %>

<div class="container">
  <h1>Importing your stories from Pivotal Tracker</h1>
  <h2>Step #2 / #4: Select a project so we can show you its stories</h2>

  <%= form_tag(wizard_path, :method => "put") do %>
    <label>Projects</label>
    <select name="project_id" id="project_id">
      <%
      @projects.each do |project|
        %>
        <option value="<%=project.id%>"><%=project.name%></option>
        <%
      end
      %>
    </select>
    
    <div class="wizard-buttons-container">
      <input type="submit" value="Next" />
      <%= link_to '(Back)', previous_wizard_path %>
    </div>
  <% end %>
</div>