<section id="page-footer">
  <div class="left-links">
    <a>About Us</a>
    <a>Privacy Policy</a>
    <a>Contact</a>
  </div>

  <div class="copy-right">Copyright 2012 - ™ Pretty Reports</div>

  <div class="right-links">
    <a>Help Me</a>
    <a>Feedback</a>
  </div>
</section>