<section id="page-footer">
  <div class="left-links">
    <a>About Us</a>
    <a>Contact</a>
  </div>

  <div class="copy-right">Copyright 2012 - ™ Pretty Reports</div>

  <div class="right-links">
    <a href="mailto:feedback@prettyreports.com">Feedback</a>
  </div>
</section>